.flex-container-nav{
    display:flex;
    flex-direction: row;
}
.flex-item-nav{
    display:flex;
    flex-direction: row;
    height:50px;
    background:#ac868a;
    align-items: center;
    width:50%;
    gap:20px;
    padding:0px 25px;
}
.menu{
    justify-content: flex-end;
}
.logo{
    font-size:32px;
    font-weight: bold;
}
.noofitems{
    text-decoration: none;
    color:#000000;
}
.active{
    font-weight: bold;
}
.categorylist{
    display:inline-block;
}
.caregorybtn:hover{
    cursor:pointer;
}